__pycache__/
*.pyc
.venv/
.ruff_cache/
.lock
settings.toml
settings.toml.*
/downloads/
/rvpn/
/prefixes/
/bin/*
/nuitka-out/
/app-out/
/installer-out/
/build/
/out/
/appimagetool
/src/rvpn/build/
/src/liberator/target/
/src/liberator/shadow/target/
/src/liberator/shadow/Shadow.dll
/liberator/
